@tailwind base;
@tailwind components;
@tailwind utilities;

#root,html,body {
    height: 100vh;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply user-select: none and overflow: hidden only to specific elements if needed */
/* Example:
.specific-element {
    user-select: none;
    overflow: hidden;
}
*/